// COLORS SIDEBAR
$sidebar-bg: #262d3d;
$sidebar-color: rgba(82, 96, 137, 0.8);

// COLORS
$brown: #d9692a;
$green: #27ae60;
$body-bg: #f6f7f9;
$border-color: #d8d9dc;
$border-gray: #DFE0EB;
$pill-blue: #effafe;
$pill-light: #eff8e5;
$color-red: #eb5757;
$color-yellow: #f2c94c;

// TEXT COLOR
$dark-gray: #384052; //  $color-1
$light-gray: #556182; //  $color-2
$blue: #204ecf; //  $color-3
$gray: #8b94ae; //  $color-4

// SHADOWS
$nav-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
$card-shadow: 1px 1px 10px rgba(0, 0, 0, 0.06);
